
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:var(--text-color)
}
a:hover{
    color:var(--logo-color)
}
/*body{
    background-color:var(--background-color);
    overflow-x: hidden;
}
 */
p{
    line-height:1.5;
}

/*BODY > SECTION */
#about{background: url("../../background/cinemaTopSmall.jpg") no-repeat top center;background-size: cover;height:340px;width:100vw;position:relative;}
#creed3{background: url("../../background/creedTopSmall.jpg") no-repeat top right;background-size: cover;height:340px;width:100vw;position:relative;}
#avatar2{background: url("../../background/avatarTopSmall.jpg") no-repeat top right;background-size: cover;height:340px;width:100vw;position:relative;}
#scream6{background: url("../../background/screamTopSmall.jpg") no-repeat top right;background-size: cover;height:340px;width:100vw;position:relative;}
#monCrime{background: url("../../background/monCrimeTopSmall.jpg") no-repeat top right;background-size: cover;height:340px;width:100vw;position:relative;}
#the5Element{background: url("../../background/the5ElementTopSmall.jpg") no-repeat top right;background-size: cover;height:340px;width:100vw;position:relative;}
#pussinboots{background: url("../../background/pussInBootsTopSmall.jpg") no-repeat top right;background-size: cover;height:340px;width:100vw;position:relative;}
#terminator2{background: url("../../background/terminatorTopSmall.jpg") no-repeat top right;background-size: cover;height:340px;width:100vw;position:relative;}
#goneWithTheWind{background: url("../../background/GoneWithTheWindTopSmall.jpg") no-repeat top right;background-size: cover;height:340px;width:100vw;position:relative;}
#matrix{background: url("../../background/matrixTopSmall.jpg") no-repeat top right;background-size: cover;height:340px;width:100vw;position:relative;}


.cinemaStory{
    margin: 30px auto;
    width:80%;
}
.contactDetails,.contactGallery article{ display: flex;justify-content: center;flex-direction:column;width: 100% ;align-items: center}
.carte-responsive iframe{width:100%;height:60vh;margin-bottom: 80px;}
h2{margin :12px 0;width: 100% ;color:var(--logo-color)}

.contactGallery article img{width: 100% ;height: auto; margin-top:12px}
section >p{color:var(--text-color); width: 100%;z-index: 999}
article p{color:var(--text-color);text-align: right}
article {width: 80% ;}
article h2{text-align: right}
article h3{text-align: right}
.slogan {
    font-size: 35px;
}
.cinemaStory {
    width:85%;
    justify-items: center;
}
.contactGallery article img{width:80%;margin-bottom:3%}

/*fiche film*/
#youtubeButton{width: 50px}

.map {width: 100% ;height :auto;}


/*Media queries*/
@media screen and (min-width: 650px) {
    #backgroundMovie,#about,#creed3,#avatar2,#scream6,#monCrime,#the5Element,#pussinboots,#terminator2,#goneWithTheWind,#matrix {background-size: cover;}
}
@media screen and (min-width: 767px) {
    #about {background: url("../../images/cinemaTopMedium.jpg") no-repeat top center;height: 407px; width: 100vw;background-size: cover;}
    #creed3 {background: url("../../images/creedTopMedium.jpg") no-repeat top right;height: 407px; width: 100vw;background-size: cover;}
    #avatar2{background: url("../../background/avatarTopMedium.jpg") no-repeat top center;height: 407px; width: 100vw;background-size: cover;}
    #scream6{background: url("../../background/screamTopMedium.jpg") no-repeat top right;height: 407px; width: 100vw;background-size: cover;}
    #monCrime{background: url("../../background/monCrimeTopMedium.jpg") no-repeat top center;height: 407px; width: 100vw;background-size: cover;}
    #the5Element{background: url("../../background/the5ElementTopMedium.jpg") no-repeat top center;height: 407px; width: 100vw;background-size: cover;}
    #pussinboots{background: url("../../background/pussInBootsTopMedium.jpg") no-repeat top center;height: 407px; width: 100vw;background-size: cover;}
    #terminator2{background: url("../../background/terminatorTopMedium.jpg") no-repeat top left;height: 407px; width: 100vw;background-size: cover;}
    #goneWithTheWind{background: url("../../background/GoneWithTheWindTopMedium.jpg") no-repeat top right;height: 407px; width: 100vw;background-size: cover;}
    #matrix{background: url("../../background/matrixTopMedium.jpg") no-repeat top right;height: 407px; width: 100vw;background-size: cover;}


    section >p{ width: 75%;}

}
@media screen and (min-width: 968px){
    #about{background: url("../../images/cinemaTop.jpg") no-repeat bottom center ;height: 600px; width: 100vw;background-size: cover;}
    #creed3 {background: url("../../images/creedTop.jpg") no-repeat bottom center ;height: 600px; width: 100vw;background-size: cover;}
    #avatar2{background: url("../../background/avatarTop.jpg") no-repeat bottom center;height: 600px; width: 100vw;background-size: cover;}
    #scream6{background: url("../../background/screamTop.jpg") no-repeat bottom center;height: 600px; width: 100vw;background-size: cover;}
    #monCrime{background: url("../../background/monCrimeTop.jpg") no-repeat bottom center;height: 600px; width: 100vw;background-size: cover;}
    #the5Element{background: url("../../background/the5ElementTop.jpg") no-repeat bottom center;height: 600px; width: 100vw;background-size: cover;}
    #pussinboots{background: url("../../background/pussInBootsTop.jpg") no-repeat bottom center;height: 600px; width: 100vw;background-size: cover;}
    #terminator2{background: url("../../background/terminatorTop.jpg") no-repeat bottom center;height: 600px; width: 100vw;background-size: cover;}
    #goneWithTheWind{background: url("../../background/goneWithTheWindTop.jpg") no-repeat bottom center ;height: 600px; width: 100vw;background-size: cover;}
    #matrix{background: url("../../background/matrixTop.jpg") no-repeat bottom center;height: 600px; width: 100vw;background-size: cover;}

    .contactDetails{flex-direction:row;flex-wrap: wrap;align-items: flex-start;justify-content:space-between;width: 80% ;margin:auto}
    .contactDetails article:first-child{width: 59% ;}
    .contactDetails article:nth-child(2){width: 35% ;}

    .contactGallery{width: 80% ;margin:12px auto;}
    .contactGallery article{width: 100% ;margin:12px 0;flex-direction:row;justify-content: space-between;flex-wrap: wrap;}
    .contactGallery h2{width: 100% ;text-align: right}
    .contactGallery article img{width: 25% ;height: auto; margin-top:12px}
}
@media screen and (min-width: 1200px) {
    #about {background: url("../../images/cinemaTop.jpg") no-repeat bottom;background-size: cover;}
    #creed3 {background: url("../../images/creedTop.jpg") no-repeat bottom;background-size: cover;}

}

/*films*/

body section iframe{margin:auto; }
#youtubeOn{position : absolute;top: 150px; width: 70px; height :40px; left: 50%;margin-left:-35px;background: url("../../images/youtube.png") no-repeat top center; }
#youtube{width:80%;height:250px;position:relative;}
#youtubeClose{position : absolute;top: 5px; width: 70px; height :40px; left: 85%;padding-top:8px;background: url("../../images/close.png") no-repeat top center; }
#youtubeClose span{margin-left:-20px;padding-top:8px; color: var(--logo-color)}


@media screen and (min-width:764px) {
    #youtube{width:80%;height:300px;top:100px}
    #youtubeOn{position : absolute;top: 150px;}
    #youtubeClose{top: 90px;}
}
@media screen and (min-width: 968px){
    #youtube{width:864px;height:450px;top:100px}
    #youtubeOn{position : absolute;top: 370px;}
    #youtubeClose{left:90%}
}
@media screen and (min-width: 1200px){

    #youtubeClose{left:78%}
}
/*Conditions*/
main,.movieDescription{width:80%; line-height:1.5;margin: 0 auto}
h4{margin:10px;color: var(--text-color)}
h3{margin:10px;color: var(--text-color)}
.conditions p{ width: 100%;}