:root {
    --background-color: #1f1d1e;
    --text-color: white;
    --text-color-footer: white;
    --logo-color: #e51937;
    --title-font: "#";
    --body-text: "#";
    --body-text-sizing: "#";
    --spacing: 8px;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:var(--text-color);
}
a:hover{
    color:var(--logo-color);
}
body{
    background-color:var(--background-color);
}
p{
    line-height:1.5;
}



.oldMovieGallery article{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    width: 80%;
}
.oldMovieGallery article img{
    width: 30% ;
    height: auto;
    margin-top:12px;
    border-radius: 30px;
    box-shadow: 5px 5px 15px 5px #000000;
}
.promotion {
    padding-top: 100px;
    max-height: 500px;
    opacity: 0.80;
}
article {
    width: 80%;
}
h2{
    text-align: center;
    color: #e51937;
}





@media screen and (min-width: 767px){
    #home{background: url("../../images/background-scream.jpeg") no-repeat top center ;background-size: 90%;height:50vh;min-width:100vw}

}
@media screen and (min-width: 968px){
    #home{background: url("../../images/background-scream.jpeg") no-repeat top center ;background-size: 90%;height:60vh;min-width:100vw}
    .contactDetails{flex-direction:row;flex-wrap: wrap;align-items: flex-start;justify-content:space-between;width: 80% ;margin:auto}
    .contactDetails article:first-child{width: 59% ;}
    .contactDetails article:nth-child(2){width: 35% ;}

    .contactGallery{width: 80% ;margin:12px auto;}
    .contactGallery article{width: 100% ;margin:12px 0;flex-direction:row;justify-content: space-between;flex-wrap: wrap}
    .contactGallery h2{width: 100% ;text-align: right}
    .contactGallery article img{width: 25% ;height: auto; margin-top:12px}
}
@media screen and (min-width: 1200px) {
    #about {
        background: url("../../images/background-scream.jpeg") no-repeat top center;
        background-size: cover;
        height: 75vh;
        width: 100vw
    }
}