.pictureGallery img {
    max-width: 200px;
    max-height: 150px;
    margin-left: 10%;
    transition: all 0.1ms ease-in-out;
}
.pictureGallery{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: auto auto auto;
    gap: 60px
}
.pictureGallery img:hover{
    transform: scale(1.2);
}
.moviePoster{
    height: auto;
    width: 30%;
    border-radius: 30px;
    box-shadow: 5px 5px 15px 5px #000000;
}
.movieDescription {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 80%;
}
.synopsis {
    color: white;
    width: 30%;
}
.casting {
    color: white;
    width: 30%;
}
h2 {
    text-align: center;
}