*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
nav {
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    justify-items: center;
    position: fixed;
    width: 100vw;
}

nav ul {
    list-style: none;
    margin-left: 10px;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 10px;
    display: flex;

}

nav a {
    color: #fff;
    text-decoration: none;

}

a {
    justify-content: center;
    padding-top: 2.5px;
}

.bouttonup {
    display: none;

}

.secondlogo{
    display:none;
}

.firstLogo{
    flex-grow: 1;
}

/*<-- Mise en forme de la barre de recherche --> */

nav form {
    display: flex;
}

nav input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
}

nav button[type="submit"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #333;
    color: #fff;
}






/* <-- Media queries --> */

@media (max-width: 768px) {
    nav {
        flex-direction: row;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 0;
        max-width: 100vw;
        display: flex;
        justify-content: center;

        /*placer ici une limite de hauteur de la bande noir*/
    }

    nav ul {
        flex-direction: row;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        text-align: center;
        justify-content: space-around;
        width: 100%;
    }

    nav li {
        margin: 0;
    }

    .navbar a{
        display: block;
        padding: 10px;

    }

    nav div input, nav div button {
        display: none;
    }

    .bouttonup{
        display:flex;

    }

    .accueil {
        display: none;
        visibility: hidden;

    }
    .firstLogo {
        display:none;

    }
    .secondlogo{
        display: flex;
    }

    .navbar{
        height: auto;
        width:100vw;

    }

    .navLinks {
        padding-right: 50px;
    }

}


