:root {
    --background-color: #1f1d1e;
    --text-color: white;
    --text-color-footer: white;
    --logo-color: #e51937;
    --title-font: "#";
    --body-text: "#";
    --body-text-sizing: "#";
    --spacing: 8px;
}